body {
	background-color: rgb(255,255,240);
	left: 20%;
}

textarea {
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-shadow-color: silver;
	scrollbar-arrow-color: black;
	scrollbar-face-color: gray;
}

.imgHelp {
	cursor: help;
	right:30%;
	position: absolute;	
}

.EmailEditor{
	background-color: #FFFFDD;
}

#main{
	margin-left: 10%;
	width: 400px;
	background-color: #DDFFEE;
	padding: 10px;
}

#help{
	position: absolute;
	width: 500px;
	height: 420px;
	top: 10px;
	background-color: #cfc;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border: #E4E7E7 , solid, 2px;
	text-decoration-color: #303030;
}

#Close{
	text-decoration-color: blue;
	cursor: hand;
	text-align: left;
}

ul li{
	list-style-image: url('bullet.jpg');
	list-style-type: square;
	list-style-position: inside;
}

input{
	background-color: rgb(255,255,240);
}

label{
	float: right;
}