body {
	background-color: rgb(255,255,240);
	left: 20%;
}

textarea {
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-shadow-color: silver;
	scrollbar-arrow-color: black;
	scrollbar-face-color: gray;
}

#imgHelp {
	cursor: help;
	top: 10px;
	right: 10px;
	padding: 10px;
	float: right;
	margin-right: 35%;
}

.EmailEditor{
	background-color: #FFFFDD;
}

#main{
	margin-left: 25%;
	width: 400px;
	background-color: #DDFFEE;
	padding: 10px;
}

#help{
	width: 500px;
	height: 420px;
	top: 10px;
	background-color: #cfc;
	padding: 0px 10px;
	display: none;
	border: solid #E4E7E7 2px;
	color: #303030;
	margin: 0px auto;
}

#Close{
	text-align: right;
	color: blue;
	cursor: pointer;
	top: 10px;
	right: 10px;
	padding: 10px;
	float: right;
	margin-right: 35%;
}

ul li{
	list-style-image: url('bullet.jpg');
	list-style-type: square;
	list-style-position: inside;
}

input{
	background-color: rgb(255,255,240);
}

label{
	float: right;
}